<div class="row">
    <div class="col-md-2">
        <ng-include src="'partials/left-rail.html'"/>
    </div>
    <div class="col-md-7">
        <div class="card timeline">
            <div class="card">
                <publisher/>
            </div>
            <div class="alert alert-warning" ng-if="feeds.length==0">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span>
            <strong>Notice : </strong>
            No feeds found . You must be new. Or quiet  >_<
        </span>
            </div>
            <div class="panel panel-default" ng-repeat="feed in feeds">
                <div class="panel-heading panel-heading-gray">
                    <i class="glyphicon glyphicon-retweet"></i> {{feed.author.firstName}} - {{feed.author.lastName}}
                    <time class="bullet text-gray">{{feed.createdTime |timeAgo}}</time>
                </div>
                <div class="panel-body" ng-init="recipe=feed.content">
                    <recipe-viewer/>
                </div>
                <div class="panel-footer">
                    <div class="pull-left" ng-if="feed.likes.length > 0">
                        <a href="" class="button-link text-muted" ng-click="showLikes(feed)">
                            {{feed.likes.length}} person like this
                        </a>

                    </div>
                    <div align="right">
                        <span ng-switch="feed.liked">
                            <a href="" class="button-link" ng-switch-when="false" ng-click="likePost(feed)">Like</a>
                            <a href="" class="button-link" ng-switch-when="true" ng-click="unLikePost(feed)">Unlike</a>
                        </span>
                         <span>
                             <a class="button-link">Share</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <ng-include src="'partials/right-rail.html'"/>
    </div>
</div>