<div class="row">
    <div class="col-md-2">
        <ng-include src="'partials/left-rail.html'"/>
    </div>
    <div class="col-md-7">
        <div class="card timeline">
            <div class="card">
                <publisher/>
            </div>
            <div class="alert alert-warning" ng-if="feeds.length==0">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span>
            <strong>Notice : </strong>
            No feeds found . You must be new. Or quiet  >_<
        </span>
            </div>
            <div class="panel panel-default" ng-repeat="feed in feeds">
                <feed-viewer/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <ng-include src="'partials/right-rail.html'"/>
    </div>
</div>