<div class="landing">
    <div>
        <div class="container" align="center">
            <img width="100"
                 src="/assets/images/logo-minion.png"/>
            <h4 translate="landing.tagline">Get inspired</h4>
        </div>
    </div>
    <section id="header" class="header text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="section-heading" translate="landing.proposition-value"/>
                    <p translate="landing.how"/>
                    <div class="badges">

                        <a ui-sref="about"
                           onclick="track('more');"
                           class="btn btn-secondary btn-more">
                            <span translate="landing.more"></span>
                        </a>

                        <a ui-sref="feed"
                           class="btn btn-primary btn-get-started"
                           onclick="track('get-started');">
                            <span translate="landing.get-started"></span>
                        </a>
                    </div>

                    <div class="device-container">
                        <div class="portrait white">
                            <div class="device">
                                <div class="screen" align="center">
                                    <img src="/assets/images/otchi-landing.png"
                                         width="70%"
                                         class="img-responsive"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <today-recipe/>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">

            <div class="pull-left">
                <ul>
                    <li>
                        <a href=""
                           ng-if="usedLanguage()!='fr'"
                           ng-click="changeLanguage('fr')">Français</a>
                        <a href=""
                           ng-if="usedLanguage()!='ar'"
                           ng-click="changeLanguage('ar')">العربية</a>
                    </li>
                </ul>
            </div>
            <div class="pull-right">
                <ul>
                    <li>
                        <a>© 2017 otchi.io All Rights Reserved</a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/otchi.io/"
                           onclick="track('go-instagram');"
                           target="_blank">
                            <i style="font-size: 2em;"
                               class="fa fa-instagram"
                               aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/otchi.io"
                           onclick="track('go-facebook');"
                           target="_blank">
                            <i style="font-size: 2em;"
                               class="fa fa-facebook-square"
                               aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </footer>

</div>
