<div class="navbar navbar-default topnav header" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="feed"> <strong> Otchi beta </strong> </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="navbar-btn">
                        <a ui-sref="login" class="btn btn-primary">Login</a>
                        <a ui-sref="register" class="btn btn-default">Sing up</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>