<div class="navbar navbar-default topnav header">
    <div class="container topnav">
        <div class="navbar-header pull-left">
            <a class="navbar-brand no-padding" ui-sref="feed">
                <img height="50" src="/assets/images/logo.png" alt="Otchi">
            </a>
        </div>
        <div class="navbar-header pull-right">
            <a ui-sref="login" class="btn btn-primary navbar-btn">Login</a>
            <a ui-sref="register" class="btn btn-default navbar-btn">Sing up</a>
        </div>
    </div>
</div>