<head>
<style>
    h1{
        font-size : 48px;
    }
    li{
        font-size : 18px;
    }
    ul{
        list-style-type: none;
    }
</style>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Otchi ! Share your meal</h1>
            <ul>
                <li><span class="glyphicon glyphicon-list-alt"></span> Explore thousands of food</li>
                <li><span class="glyphicon glyphicon-shopping-cart"></span> Discover the world gastronomy </li>
                <li><span class="glyphicon glyphicon-comment"></span> Ask them how they prepare it</li>
                <li><span class="glyphicon glyphicon-shopping-cart"></span> Find where to buy the ingredients</li>
                <li><span class="glyphicon glyphicon-bishop"></span> Live the experience of food, not just recipes</li>
                <li><span class="glyphicon glyphicon-equalizer"></span> Want you to give hungry people ? Let's do it together</li>
            </ul>
        </div>
        <div class="col-md-6">
            <iframe width="100%" height="100%"
                    src="http://www.youtube.com/embed/UqNJmStXqIU">
            </iframe>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
           <recipe-feeds/>
        </div>
        <div class="col-md-6" style="position:fixed; right:0; bottom:0">
            <ul class="list-inline">
                <li><a href="#">help</a></li>
                <li><a href="#">privacy</a></li>
                <li><a href="#">team</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
    </div>
</div>