spring:
    social:
        redirectAfterSignInUrl: "/#/feed"

liquibase:
    contexts: test
    change-log: classpath:/database/db.changelog-master.xml
multipart:
   enabled: true

otchi:
   mail:
      noReply: "noreply@noreply.com"
   user:
      default-picture: "/assets/images/unknown_user.png"
