info:
  app:
    name: Otchi
    description: Food network
    version: @buildNumber@
    
spring:
    social:
        redirectAfterSignInUrl: "/#/feed"
    http:
        multipart:
          max-file-size: 10MB
liquibase:
    contexts: test
    change-log: classpath:/database/db.changelog-master.xml
multipart:
   enabled: true

otchi:
   mail:
      noReply: "noreply@otchi.io"
   user:
      default-picture: "/assets/images/unknown_user.png"
   websocket:
         channel:
            notifications: "/topic/notifications"
server:
  port: 8080
