<div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">
            <i class="glyphicon glyphicon-share"></i> What do you want to share?
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <uib-tabset class="tabbable-line">
                            <uib-tab heading="Status" active="true" ng-click="changePublisher('STATUS')">
                                <status-publisher/>
                            </uib-tab>
                            <uib-tab heading="Recipe" ng-click="changePublisher('RECIPE')">
                                <recipe-publisher/>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" align="right">
            <span> <a class="btn btn-follow" ng-click="share()">Share</a> </span>
        </div>
    </div>
</div>