<div class="container">
    <div class="form">
        <div class="form__header">
            <h1 class="form-heading hidden-md">Create new Recipe</h1>
        </div>
        <div class="form__content">

            <div class="row">
                <div class="col-md-7">
                    <div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Recipe title</label>
                                                <input ng-model="recipe.title"
                                                       type="text"
                                                       class="form-control input--textbox"
                                                       id="title"
                                                       placeholder="What is the name of your recipe ?"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Description</label>
                                                <textarea ng-model="recipe.description"
                                                          class="form-control"
                                                          id="description"
                                                          placeholder="Write a brief description about your recipe"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div>
                                            Ingredients
                                        </div>
                                        <hr/>
                                        <p class="text-muted">
                                            Add the first ingredient, then if you want to add more click on plus button
                                        </p>
                                        <form class="form-horizontal">
                                            <div class="form-group" ng-repeat="ingredient in recipe.ingredients">
                                                <div class="col-md-5 col-sm-6 col-xs-12">
                                                    <input ng-model="ingredient.name" type="text" class="form-control"
                                                           placeholder="Put your ingredient name here">
                                                </div>

                                                <div class="col-md-5 col-sm-2 col-xs-12">
                                                    <div class="input-group">
                                                        <input ng-model="ingredient.quantity"
                                                               type="number"
                                                               class="form-control"
                                                               placeholder="quantity">
                                                        <span class="input-group-btn"></span>
                                                        <input ng-model="ingredient.unit" type="text"
                                                               class="form-control"
                                                               placeholder="measurement">
                                                    </div>
                                                </div>
                                                <div class="col-md-1 col-sm-1 col-xs-2">
                                                    <button class='btn btn-danger glyphicon glyphicon-minus'
                                                            ng-click="removeIngredient($index)"
                                                            ng-if="!$last">
                                                    </button>
                                                    <button class='btn btn-success glyphicon glyphicon-plus'
                                                            ng-click="addIngredient()"
                                                            ng-if="$last">
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div>
                                            Instructions
                                        </div>
                                        <hr/>
                                        <p class="text-muted">
                                            same as ingredients add the first instruction, then if you want to add more
                                            click on plus button
                                        </p>
                                        <form class="form-horizontal">
                                            <div class="form-group" ng-repeat="instruction in recipe.instructions">
                                                <div class="col-md-10 col-sm-10 col-xs-10">
                                <textarea ng-model="instruction.content" type="text" class="form-control"
                                          placeholder="Put direction to follow here "
                                />
                                                </div>
                                                <div class="col-md-1 col-sm-2 col-xs-1">
                                                    <button class='btn btn-danger glyphicon glyphicon-minus'
                                                            ng-click="removeInstruction($index)"
                                                            ng-if="!$last">
                                                    </button>
                                                    <button class='btn btn-success glyphicon glyphicon-plus'
                                                            ng-click="addInstruction()"
                                                            ng-if="$last">
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div>
                                            Tags
                                        </div>
                                        <hr/>
                                        <p class="text-muted">
                                            Add tags to categorize your recipe
                                        </p>
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-md-10 col-sm-10 col-xs-10">
                                                    <tags-input ng-model="tags">
                                                    </tags-input>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 left-divider">
                    <div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Cook time</label>
                                    <div class="input-group">
                                        <input ng-model="recipe.cookTime"
                                               type="number"
                                               class="form-control"
                                               id="cookTime">
                                        <span class="input-group-addon">min</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Preparation time</label>
                                    <div class="input-group">
                                        <input ng-model="recipe.preparationTime"
                                               type="number"
                                               class="form-control"
                                               id="preparationTime">
                                        <span class="input-group-addon">min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Ready in</label>
                                    <div class="input-group">
                                        <input ng-model="recipe.ReadyTime"
                                               type="number"
                                               class="form-control" id="readyTime">
                                        <span class="input-group-addon">min</span>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <label>Number of servings - <span class="text-muted">Optional</span></label>
                                    <div class="input-group">
                                        <input ng-model="recipe.servings"
                                               type="number"
                                               class="form-control" id="servings">
                                        <span class="input-group-addon">min</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr/>
                    <div class="row">
                        <div align="center">
                            <label>Add images to show your recipe</label>
                        </div>
                        <div class="recipe-images-uploader" align="center">
                            <a href="" ngf-select ng-model="recipe.pictures" ngf-multiple="true" ngf-keep="true"
                               ngf-pattern="'image/*'" ngf-accept="'image/*'">
                                <i class="glyphicon glyphicon-camera" style="font-size: 10em;"></i>
                            </a>
                        </div>
                        <div>
                            <images-upload-preview images="recipe.pictures" on-delete="deleteImage(image)"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form__footer">
            <div class="row">
                <div class="pull-right">
                    <button class="btn btn-follow" ng-click="shareRecipe()">Share</button>
                </div>
            </div>
        </div>

    </div>
</div>
