<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <p class="text-muted"
                   translate="publisher.recipe.ingredients.tips">
                </p>
                <form class="form-horizontal">
                    <div class="form-group" ng-repeat="ingredient in $ctrl.ingredients">
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <input type="text"
                                   maxlength="255"
                                   ng-model="ingredient.name"
                                   placeholder="{{'publisher.recipe.ingredients.name-placeholder'|translate}}"
                                   uib-typeahead="ingredient for ingredient in $ctrl.ingredientsDictionary | filter:$viewValue | limitTo:8"
                                   class="form-control"
                            />
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="input-group">
                                <input ng-model="ingredient.quantity"
                                       type="number"
                                       class="form-control"
                                       min="0"
                                       placeholder="{{'publisher.recipe.ingredients.quantity-placeholder'|translate}}">
                                <span class="input-group-btn"></span>
                                <input ng-model="ingredient.unit" type="text"
                                       maxlength="25"
                                       class="form-control"
                                       placeholder="{{'publisher.recipe.ingredients.unit-placeholder'|translate}}">
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-2">
                            <button class='btn btn-danger glyphicon glyphicon-minus'
                                    ng-click="$ctrl.removeIngredient($index)"
                                    ng-if="!$last">
                            </button>
                            <button class='btn btn-success glyphicon glyphicon-plus'
                                    ng-click="$ctrl.addIngredient()"
                                    ng-if="$last">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row wizard-nav">
        <div class="col-md-12">
            <button class="btn btn-primary btn-default pull-left"
                    type="button"
                    ng-click="$ctrl.previousStep()"
                    translate="publisher.recipe.back-to-summary-button"/>

            <button class="btn btn-primary btn-default pull-right"
                    type="button"
                    ng-click="$ctrl.nextStep()"
                    translate="publisher.recipe.add-instructions-button"/>
        </div>
    </div>
</div>

