<div class="card feed">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-circle"
                             ui-sref="showProfile({chefId:$ctrl.feed.author.id})"
                             ng-src="{{$ctrl.feed.author.picture}}" width="35">
                    </a>
                </div>
                <div class="media-body">
                    <a class="media-heading"
                       ui-sref="showProfile({chefId:$ctrl.feed.author.id})">
                        {{$ctrl.feed.author.firstName}} {{$ctrl.feed.author.lastName}}
                    </a>
                    <time class="bullet text-gray">{{$ctrl.feed.createdTime |timeAgo}}</time>

                    <div class="btn-group pull-right">
                        <a class="dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a>
                                    <span class="glyphicon glyphicon-pencil"/>
                                    <span translate="stream.feed.actions.edit"/>

                                </a>
                            </li>
                            <li ng-if="$ctrl.feed.canBeRemoved">
                                <a href="" ng-click="$ctrl.remove()">
                                    <span class="glyphicon glyphicon-trash"/>
                                    <span translate="stream.feed.actions.remove"/>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="glyphicon glyphicon-eye-close"/>
                                    <span translate="stream.feed.actions.signal"/>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-body no-padding"
             ng-click="$ctrl.showFeedDetails($ctrl.feed.id)">

            <recipe-viewer recipe="$ctrl.feed.content"
                           feed-id="$ctrl.feed.id"
                           ng-if="$ctrl.feed.content.type==='RECIPE'"
            />
            <story-viewer story="$ctrl.feed.content"
                          ng-if="$ctrl.feed.content.type==='STORY'"
            />
            <div class="no-padding" ng-if="$ctrl.feed.images">
                <div  ng-if="$ctrl.feed.images[0]"
                        class="feed-images-box"
                      ng-style="{'background':'url({{$ctrl.feed.images[0]}})'}"/>
            </div>
        </div>
        <div class="panel-footer">
            <div>
                <div class="pull-left">
                    <a class="button-link text-muted"
                       href=""
                       ng-click="showComments=!showComments">
                        <i class="glyphicon glyphicon-bullhorn"/>
                        <span ng-if="$ctrl.feed.comments.length > 0">
                            &nbsp;{{$ctrl.feed.comments.length}}
                            <span translate="stream.feed.comments"/>
                    </span>
                        <span ng-if="$ctrl.feed.comments.length === 0"
                              translate="stream.feed.start-discussion"/>
                    </a>
                </div>

                <div ng-switch="$ctrl.feed.liked" class="pull-right">
                    <span ng-if="$ctrl.feed.likesCount > 0">
                        <a href="" class="button-link text-muted" ng-click="$ctrl.showLikes()">
                            {{$ctrl.feed.likesCount}}
                            <span translate="stream.feed.likes"/>
                        </a>
                    </span>
                    <a href="" class="btn btn-like" ng-switch-when="false" ng-click="$ctrl.like()">
                        <i class="fa fa-heart"></i>
                    </a>
                    <a href="" class="btn btn-unLike" ng-switch-when="true" ng-click="$ctrl.unLike()">
                        <i class="glyphicon glyphicon-heart"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div ng-if="showComments===true">
                <hr/>
                <feed-comments feed="$ctrl.feed"/>
            </div>
        </div>
    </div>
</div>
