<div class="social-register">
    <section class="bg-primary text-center">
        <div class="container">
            <div class="col-md-7 col-xs-12">

                <div ng-show="success=='true'">
                    <h3 class="text-center">
                        Successful registration with {{provider}}
                    </h3>
                    <h2 class="section-heading">Welcome to Otchi,</h2>
                    <h3 class="section-heading">The place to be ;)</h3>

                    <div align="center">
                        <div class="button-actions row" ng-if="success=='true'">
                            <social-auth-button ng-provider="{{provider}}"
                                                label="Get started !! "/>

                        </div>
                    </div>
                </div>

                <div ng-if="success=='false'">
                    <h3 class="section-heading">
                        <strong>Registration failed!</strong> Please try again later.
                    </h3>

                    <div class="alert alert-warning"
                         ng-if="error=='ACCOUNT_ALREADY_EXIST'">
                        <strong>an account already exists with the same email address !!</strong>
                    </div>
                    <div class="text-center">
                        <div class="connect-options row">
                            <social-auth-button ng-provider="{{provider}}"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-5 col-xs-12">
                <div class="device-container">
                    <div class="portrait white">
                        <div class="device">
                            <div class="screen">
                                <img src="assets/images/food.jpg" class="img-responsive"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
