<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container no-padding">
        <div class="navbar-header">
            <a class="navbar-brand padding-bottom-none padding-top-none" ui-sref="feed">
                <img height="55" src="/assets/images/logo-minion.png" alt="Otchi">
                Otchi
            </a>
        </div>
        <div class="navbar-right">
            <button
                    ui-sref="login"
                    type="button"
                    class="btn btn-primary navbar-btn"
                    translate="actions.login"/>
        </div>
    </div>
</div>
