<div class="card">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="header-profile">
                <div class="picture-profile">
                    <img class="img-circle" ng-src="/assets/images/users/thierry.jpg" width="150" height="150"/>
                </div>
                <div class="cover-profile">

                </div>

                <div class="row profile-summary">
                    <div class="profile-summary-left">
                        <span id="profile-name">John Jack</span>
                    </div>
                    <div class="profile-summary-right">
                        <span id="profile-followers-total">10K followers</span></span>
                        <button class="btn btn-follow">Follow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <img class="media-object" ng-src="http://lorempixel.com/120/120/food/" height="120" width="120"/>
                </div>
                <div class="col-sm-9 col-md-10">
                    <h5 class="recipe-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                    <p class="recipe-summary">
                        <span class="recipe-summary-item">50m <i class="glyphicon glyphicon-time"></i></span>
                        <span class="recipe-summary-item">6 servings <i class="glyphicon glyphicon-cutlery"></i></span>
                        <span class="recipe-summary-item">477 cals <i class="glyphicon glyphicon-stats"></i></span>
                    </p>
                    <p>
                        These are a big hit in the summertime when everyone is tired of the same old hamburgers and hot
                        dogs.
                        Serve with or without buns and your favorite condiments. I like to serve these with lettuce,
                        tomato,
                        and Tzatziki sauce (you can find recipes for that on this site as well).
                    </p>
                </div>
            </div>

            <div id="user-recipes">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        filter by : <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a>date</a>
                        </li>
                        <li>
                            <a>size</a>
                        </li>
                        <li>
                            <a>total views</a>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>

                <div class="recipes-container">
                    <ul class="recipes">
                        <li>
                            <div class="recipe">
                                <div class="recipe-body row">
                                    <div class="col-md-2 recipe-thumbnail">
                                        <p>
                                            <img ng-src="http://lorempixel.com/100/100/food/" alt="recipe picture"/>
                                        </p>
                                    </div>
                                    <div class="col-md-2 recipe-summary">
                                        <p>
                                            <span>50m <i class="glyphicon glyphicon-time"></i></span><br/>
                                            <span>6 servings <i class="glyphicon glyphicon-cutlery"></i></span><br/>
                                            <span>477 cals <i class="glyphicon glyphicon-stats"></i></span>
                                        </p>
                                    </div>
                                </div>
                                <p class="recipe-title"><a href=""
                                                           title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Lorem
                                    ipsum dolor sit amet ... </a></p>
                            </div>
                        </li>
                        <li>
                            <div class="recipe">
                                <div class="recipe-body row">
                                    <div class="col-md-2 recipe-thumbnail">
                                        <p>
                                            <img ng-src="http://lorempixel.com/100/100/food/" alt="recipe picture"/>
                                        </p>
                                    </div>
                                    <div class="col-md-2 recipe-summary">
                                        <p>
                                            <span>50m <i class="glyphicon glyphicon-time"></i></span><br/>
                                            <span>6 servings <i class="glyphicon glyphicon-cutlery"></i></span><br/>
                                            <span>477 cals <i class="glyphicon glyphicon-stats"></i></span>
                                        </p>
                                    </div>
                                </div>
                                <p class="recipe-title"><a href=""
                                                           title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Lorem
                                    ipsum dolor sit amet ... </a></p>
                            </div>
                        </li>
                        <li>
                            <div class="recipe">
                                <div class="recipe-body row">
                                    <div class="col-md-2 recipe-thumbnail">
                                        <p>
                                            <img ng-src="http://lorempixel.com/100/100/food/" alt="recipe picture"/>
                                        </p>
                                    </div>
                                    <div class="col-md-2 recipe-summary">
                                        <p>
                                            <span>50m <i class="glyphicon glyphicon-time"></i></span><br/>
                                            <span>6 servings <i class="glyphicon glyphicon-cutlery"></i></span><br/>
                                            <span>477 cals <i class="glyphicon glyphicon-stats"></i></span>
                                        </p>
                                    </div>
                                </div>
                                <p class="recipe-title"><a href=""
                                                           title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Lorem
                                    ipsum dolor sit amet ... </a></p>
                            </div>
                        </li>
                        <li>
                            <div class="recipe">
                                <div class="recipe-body row">
                                    <div class="col-md-2 recipe-thumbnail">
                                        <p>
                                            <img ng-src="http://lorempixel.com/100/100/food/" alt="recipe picture"/>
                                        </p>
                                    </div>
                                    <div class="col-md-2 recipe-summary">
                                        <p>
                                            <span>50m <i class="glyphicon glyphicon-time"></i></span><br/>
                                            <span>6 servings <i class="glyphicon glyphicon-cutlery"></i></span><br/>
                                            <span>477 cals <i class="glyphicon glyphicon-stats"></i></span>
                                        </p>
                                    </div>
                                </div>
                                <p class="recipe-title"><a href=""
                                                           title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Lorem
                                    ipsum dolor sit amet ... </a></p>
                            </div>
                        </li>
                        <li>
                            <div class="recipe">
                                <div class="recipe-body row">
                                    <div class="col-md-2 recipe-thumbnail">
                                        <p>
                                            <img ng-src="http://lorempixel.com/100/100/food/" alt="recipe picture"/>
                                        </p>
                                    </div>
                                    <div class="col-md-2 recipe-summary">
                                        <p>
                                            <span>50m <i class="glyphicon glyphicon-time"></i></span><br/>
                                            <span>6 servings <i class="glyphicon glyphicon-cutlery"></i></span><br/>
                                            <span>477 cals <i class="glyphicon glyphicon-stats"></i></span>
                                        </p>
                                    </div>
                                </div>
                                <p class="recipe-title"><a href=""
                                                           title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Lorem
                                    ipsum dolor sit amet ... </a></p>
                            </div>
                        </li>
                        <li>
                            <div class="recipe">
                                <div class="recipe-body row">
                                    <div class="col-md-2 recipe-thumbnail">
                                        <p>
                                            <img ng-src="http://lorempixel.com/100/100/food/" alt="recipe picture"/>
                                        </p>
                                    </div>
                                    <div class="col-md-2 recipe-summary">
                                        <p>
                                            <span>50m <i class="glyphicon glyphicon-time"></i></span><br/>
                                            <span>6 servings <i class="glyphicon glyphicon-cutlery"></i></span><br/>
                                            <span>477 cals <i class="glyphicon glyphicon-stats"></i></span>
                                        </p>
                                    </div>
                                </div>
                                <p class="recipe-title"><a href=""
                                                           title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Lorem
                                    ipsum dolor sit amet ... </a></p>
                            </div>
                        </li>
                        <li>
                            <div class="recipe">
                                <div class="recipe-body row">
                                    <div class="col-md-2 recipe-thumbnail">
                                        <p>
                                            <img ng-src="http://lorempixel.com/100/100/food/" alt="recipe picture"/>
                                        </p>
                                    </div>
                                    <div class="col-md-2 recipe-summary">
                                        <p>
                                            <span>50m <i class="glyphicon glyphicon-time"></i></span><br/>
                                            <span>6 servings <i class="glyphicon glyphicon-cutlery"></i></span><br/>
                                            <span>477 cals <i class="glyphicon glyphicon-stats"></i></span>
                                        </p>
                                    </div>
                                </div>
                                <p class="recipe-title"><a href=""
                                                           title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Lorem
                                    ipsum dolor sit amet ... </a></p>
                            </div>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</div>