<div class="card">
    <div class="row profile-header-background"style="margin-top:-20px;">
        <div class="panel-body profile-header-panel" >
            <div id="header-profile">
                <div class="picture-profile">
                    <img class="img-circle"
                         ng-src="{{$ctrl.chef.picture}}"
                         width="150"
                         height="150"/>
                </div>
                <div class="cover-profile">

                </div>

                <div class="row profile-summary">
                    <div class="profile-summary-left">
                        <span id="profile-name">
                            {{$ctrl.chef.firstName}} {{$ctrl.chef.lastName}}
                        </span>
                    </div>
                    <div class="profile-summary-right">
                        <button class="btn btn-primary">Follow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

        <feeds-streamer feeds="$ctrl.feeds"/>

    </div>
</div>