<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-push-2 col-xs-12">
            <p class="text-muted"
               translate="publisher.recipe.instructions.tips">
            </p>
            <div ng-if="$ctrl.ingredients">
                <h4>Ingredients</h4>
                <span ng-repeat="ingredient in $ctrl.ingredients"
                      style="margin: 2px"
                      class="badge">
                    {{ingredient.name}}
                </span>
            </div>
            <form class="form-horizontal" name="instructions_form">

                <div class="form-group" ng-repeat="instruction in $ctrl.instructions">
                    <label>{{'publisher.recipe.instructions.step'|translate}} {{$index+1}}
                    </label>
                    <div class="instruction-input">
                        <textarea ng-model="instruction.content"
                                  maxlength="255"
                                  required
                                  ng-focus="true"
                                  type="text"
                                  class="form-control"
                                  placeholder="{{'publisher.recipe.instructions.text-placeholder'|translate}}"
                        />
                        <a ng-click="$ctrl.removeInstruction($index)"
                                class="close-button-x">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="row col-md-8 col-md-push-2 col-xs-12">
        <button ng-click="$ctrl.addInstruction()"
                class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>
    <div class="row">
        <div class="wizard-nav col-md-8 col-md-push-2 col-xs-12">
            <button class="btn btn-primary btn-default pull-left"
                    type="button"
                    ng-click="$ctrl.previousStep()"
                    ui-sref="addIngredients"
                    translate="publisher.recipe.back-to-ingredients-button"
            />
            <button class="btn btn-primary btn-default pull-right"
                    type="button"
                    ng-click="$ctrl.nextStep()"
                    ui-sref="addImages"
                    translate="publisher.recipe.add-images-button"
            />
        </div>
    </div>

</div>


