<div class="container">
    <div class="row">
        <p class="text-muted"
           translate="publisher.recipe.instructions.tips">
        </p>
        <div class="col-md-12">
            <form class="form-horizontal" name="instructions_form">

                <div class="form-group" ng-repeat="instruction in $ctrl.instructions">
                    <label>Etape {{$index+1}}
                    </label>
                    <button ng-click="$ctrl.removeInstruction($index)"
                            class="btn btn-circle btn-warning pull-right">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <textarea ng-model="instruction.content"
                              maxlength="255"
                              required
                              ng-focus="true"
                              type="text"
                              class="form-control input-lg"
                              placeholder="{{'publisher.recipe.instructions.text-placeholder'|translate}}"
                    />
                </div>
            </form>
        </div>
        <div>
            <button ng-click="$ctrl.addInstruction()"
                    class="btn btn-success">Ajouter une étape</button>
        </div>
    </div>
    <hr/>
    <div class="row wizard-nav">
        <div class="col-md-12">
            <button class="btn btn-primary btn-default pull-left"
                    type="button"
                    ng-click="$ctrl.previousStep()"
                    ui-sref="addIngredients"
                    translate="publisher.recipe.back-to-ingredients-button"
            />
            <button class="btn btn-primary btn-default pull-right"
                    type="button"
                    ng-click="$ctrl.nextStep()"
                    ui-sref="addImages"
                    translate="publisher.recipe.add-images-button"
            />
        </div>
    </div>

</div>


