<div class="row">
    <div class="col-md-7">
        <div class="card timeline">
            <div class="card">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-gray">
                            <i class="glyphicon glyphicon-share"></i> Add new recipe
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <recipe-publisher/>
                                </div>
                            </div>
                            <div>
                                <images-upload-preview images="recipe.pictures" on-delete="deleteImage(image)"/>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div>
                                <a href="" ngf-select ng-model="recipe.pictures" ngf-multiple="true" ngf-keep="true"
                                   ngf-pattern="'image/*'" ngf-accept="'image/*'">
                                    <i class="glyphicon glyphicon-camera"></i>
                                </a>
                                <button class="btn btn-follow pull-right" ng-click="shareRecipe()">Share</button>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>