
<div class="card">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">
             <i class="glyphicon glyphicon-user"></i>  Abdellah
        </div>
        <div class="panel-body">
            <img class="img-circle img-responsive img-center" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">
            <i class="glyphicon glyphicon-flash"></i> Your feed
        </div>
        <div class="panel-body clear-padding">
            <ul class="nav-aside">
                <li class="nav-item">
                    <a ui-sref="feed"class="nav-lnk active">Recommended</a>

                </li>
                <li class="nav-item">
                    <a href="#" class="nav-lnk">Favorites</a>

                </li>
                <li class="nav-item">
                    <a ui-sref="kitchen" class="nav-lnk">My recipes</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-lnk">Friends</a>
                </li>

            </ul>
        </div>
    </div>
</div>
        