a, button {
    text-decoration: none;
    color: #2e9fff;
    cursor: pointer;
}

.a:hover {
    color: #2e87e7
}

.btn{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    line-height: 1.4em;
    font-weight: 500;
    padding: 6px 11px 7px;
    min-width: 36px;
    position: relative;
    overflow: hidden;
    height: auto;
    transition: all 250ms ease-in-out;
}

.button-link {
    color: #2e9fff;
    font-size: inherit;
    border-radius: 3px;
    border: 1px solid transparent;
    line-height: 1.1em;
    font-weight: 500;
    padding: 8px 10px 9px;
    display: inline-block;
}

.button-link:hover {
    color: #546673
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


.btn-secondary {
    color: #2e9fff;
    border: 1px solid rgba(46, 159, 255, 0.5);
}

.btn-like {
    border-color: #cce9ff;
    color: #2e9fff;
    text-align: left;
}

.btn-like:hover {
    border-color: #2e9fff;
    background-color: #f2f9ff;
    color: #2e87e7;
    box-shadow: none;
    transition: all 250ms ease-in-out
}

.btn-unLike {
    background-color: #f05f70;
    border-color: #f05f70;
    color: #fff;
    text-align: left;
}

.btn-unLike:hover {
    background-color: #f05f70;
    border-color: #f05f70;
    color: #fff
}

.connect-options {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.connect-options button .auth-container img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.connect-options button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 0;
    background: none;
    border: none;
}

.connect-options button .auth-container {
    display: inline-block;
    padding: 15px;
    border-radius: 64px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.connect-options button .auth-container img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.connect-options button .auth-container:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.connect-options button:focus {
    outline: 0;
    opacity: 0.8;
}

.twitter-auth .auth-container {
    background-color: #4099FF;
}

.facebook-auth .auth-container {
    background-color: #3B5998;
}

.google-auth .auth-container {
    background-color: #D34836;
}

.btn-primary {
    transition: all 250ms ease-in-out;
    background-color: #2e9fff;
    color: #fff;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #2e87e7;
    color: #fff;
    transition: all 250ms ease-in-out
}

.btn-singup{
    width: 47.5%;
}

.close-button-x {
    position: absolute;
    top: 0;
    right: 0;
    color:#f05f70;
}