a, button {
    text-decoration: none;
    color: #2e9fff;
}

.a:hover {
    color: #2e87e7
}

.btn-follow {
    border-radius: 3px;
    border: 0;
    font-size: 14px;
    line-height: 1.4em;
    font-weight: 500;
    padding: 6px 11px 7px;
    min-width: 36px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: auto;
    transition: all 250ms ease-in-out;
    background-color: #2e9fff;
    color: #fff;
}

.btn-follow:hover {
    background-color: #2e87e7;
    color: #fff;
    transition: all 250ms ease-in-out
}

.button-link {
    color: #2e9fff;
    font-size: inherit;
    border-radius: 3px;
    border: 1px solid transparent;
    line-height: 1.1em;
    font-weight: 500;
    padding: 8px 10px 9px;
    display: inline-block;
}

.button-link:hover {
    color: #546673
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.signup {
    border-radius: 3px;
    padding: 8px 12px;
    background: #2e9fff;
    color: #fff;
    border: 1px solid #2e9fff;
    box-shadow: none;
    width: 47.5%;
    text-align: center;
    font-weight: 600;
    position: relative;
}

.btn-secondary {
    width: 47.5%;
    display: inline-block;
    font-size: 14px;
    padding: 8px 12px;
    text-align: center;
    border-radius: 3px;
    color: #2e9fff;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    border: 1px solid rgba(46, 159, 255, 0.5);
}

.btn-like {
    background-color: #5cb767;
    border-color: #5cb767;
    color: #fff;
    text-align: left;
}

.btn-like:hover {
    color: #fff;
    background-color: #5e9164;
    box-shadow: none;
    transition: all 250ms ease-in-out
}

.btn-unLike {
    background-color: #f05f70;
    border-color: #f05f70;
    color: #fff;
    text-align: left;
}

.btn-unLike:hover {
    background-color: #f05f70;
    border-color: #f05f70;
    color: #fff
}

.connect-options {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.connect-options button .auth-container img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.connect-options button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 0;
    background: none;
    border: none;
}

.connect-options button .auth-container {
    display: inline-block;
    padding: 15px;
    border-radius: 64px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.connect-options button .auth-container img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.connect-options button .auth-container:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.connect-options button:focus {
    outline: 0;
    opacity: 0.8;
}

.twitter-auth .auth-container {
    background-color: #4099FF;
}

.facebook-auth .auth-container {
    background-color: #3B5998;
}

.google-auth .auth-container {
    background-color: #D34836;
}

/*fab publisher*/

.fab {
    cursor: pointer;
}

.fab-backdrop {
    color: rgba(255, 255, 255, 0);
}

.fab-primary, .fab-secondary {
    transition: all 0.35s ease-in-out;
}

.fab.active .fab-primary {
    opacity: 0;
    transform: rotate(225deg);
}

.fab-secondary {
    opacity: 0;
    transform: rotate(-225deg);
}

.fab.active .fab-secondary {
    opacity: 1;
    transform: rotate(0);
    margin-top: -2px;
}

#publisher-actions .show-on-hover:hover > ul.dropdown-menu {
    display: block;

}

#publisher-actions .show-on-hover {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#publisher-actions .btn-io {
    border-radius: 50%;
    height: 54px;
    width: 54px;
    padding: 0 !important;
    box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}

#publisher-actions .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
    margin-bottom: -5px;
    padding-bottom: 30px;
}

#publisher-actions .dropdown-menu-right {
    right: 0 !Important;
    left: auto !Important;
}

#publisher-actions .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0) !Important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
}

#publisher-actions .dropdown-menu > li > a {
    display: block;
    padding: 0;
    padding-top: 4px;
    margin-top: 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    background: #fff;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 50px;
    font-size: 21px;
    box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}

#publisher-actions .dropdown-menu > li:first-child > a {
    background: #6E4320 !important;
    color: #fff !important;
}

#publisher-actions .dropdown-menu > li:last-child > a {
    background: #D3A516;
    color: #fff;
}

#publisher-actions .dropdown-menu > li:nth-child(3) > a {
    background: #3C80F6;
    color: #fff;
}

#publisher-actions .dropdown-menu > li:nth-child(2) > a {
    background: #2CAC26;
    color: #fff;
}
