.card .panel {
    border: 1px solid #e0e3e9;
    border-radius: 2px;
    background: #fff;
    font-size: 15px;
    line-height: 1.45em;
    color: #546673;
}

.card .panel-heading {
    border-bottom: 1px solid #eff3fa;
    padding-bottom: 5px;
    background: #fff;
}

.card .panel-footer {
    border-top: 1px solid #eff3fa;
    background-color: #fafcfc;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 5px;
}

.box {
    border: 1px solid #e0e3e9;
    border-radius: 2px;
    background: #fff;
    font-size: 15px;
    line-height: 1.45em;
    color: #546673;
}