.media, .media-body {
    overflow: visible;
}

.feed {
    max-width: 600px;
    margin: 0 auto;
}

.feed .feed-image {
    display: block;
    width: 600px;
    padding: 0px;
    height: auto;

}

.feed-images-box {

    width:100%;
    height:400px;
    background-size: cover!important;
    background-position: 50% 50% !important;
}

.feed p, img, h1, h2, h3, h4, h5, h6 {
    cursor: pointer !important;
}

.feed .panel-body {
    padding-top: 0px;
}

.feed .story-text {
    color: #4d4d4d;
    font-size: 1em;
    padding: 10px 15px;
}

.feed .recipe-title {
    color: #4d4d4d;
    width: 94%;
    padding-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.feed .recipe-description {
    color: #4d4d4d;
    font-size: 1em;
    padding: 10px 15px;
}