
.landing .heading-font {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

.landing .body-font {
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.landing .alt-font {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
}

.landing {
    height: 100%;
    width: 100%;
}

.landing {
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.landing h1,
.landing h2,
.landing h3,
.landing h4,
.landing h5,
.landing h6 {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.landing p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing section {
    padding: 100px 0;
}

.landing section h2 {
    font-size: 50px;
}

.landing section.header {
    padding: 150px 0;
    position: relative;
}

.landing section.header h2 {
    margin-top: 0;
    font-size: 50px;
}

.landing section.header .badges {
    padding: 2px;
}

.landing section.header .badges .badge-link {
    display: block;
    margin-bottom: 25px;
}

.landing section.header .badges .badge-link:last-child {
    margin-bottom: 0;
}

.landing section.header .badges .badge-link img {
    height: 60px;
}

.landing section.features {
    padding-top: 20px;
    background-color: white;
}

.landing section.features .section-heading {
    margin-bottom: 100px;
}

.landing section.features .section-heading h2 {
    margin-top: 0;
}

.landing section.features .section-heading p {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 30px auto 30px;
}

.landing section.features .device-container,
.landing section.features .feature-item {
    max-width: 300px;
    margin: 0 auto;
}

.landing section.features .line {
    height: 1px;
    background-color: #F2F3F5;
}

.landing section.features .device-container {
    margin-bottom: 100px;
}

.landing section.features .badges {
    padding: 20px;
    text-align: center;
}

.landing section.features .feature-item {
    text-align: center;
    margin-bottom: 0px;
}

.landing section.features .feature-item p {
    font-weight: 400;
    max-width: 400px;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 32px;
}

.landing section.features .feature-item h3 {
    font-size: 30px;
    color: #FFC22C;
    max-width: 400px;
    padding-top: 50px;
}

.landing section.features .feature-item-icon {
    padding: 0px;
}

.landing section.features .feature-item i {
    font-size: 80px;
    background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: linear-gradient(to left, #7b4397, #dc2430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing section.features .feature-item img {
    width: 300px;
    height: 300px;
}

.landing footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    color: #546673;
    border-top: 1px solid rgba(0,0,0,.06);
    text-align: center;
    overflow: hidden;
    min-height: 50px;
    background: rgba(238,241,246,.3)
}

.landing footer p {
    font-size: 12px;
    margin: 0;
}

.landing footer ul {
    margin-bottom: 0;
    padding: 0px;
}
.landing footer ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.landing footer ul li a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    color: #96A3B6;
}

.landing footer ul li a:hover,
.landing footer ul li a:focus,
.landing footer ul li a:active,
.landing footer ul li a.active {
    text-decoration: none;
}
.landing .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}


.landing .btn-get-started {
    padding: 8px 12px;
    width: 200px;
}

.landing .btn-more {
    padding: 8px 12px;
}

.landing {
    webkit-tap-highlight-color: #222222;
}

@media (max-width: 992px) {

    .landing section.header {
        padding-top: 5%;
    }

    .landing section.header .badges {
        padding: 2px;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {

    .landing section.header .badges .badge-link {
        display: inline-block;
        margin-bottom: 0;
    }

    .landing section.header h2 {
        font-size: 70px;
    }

    .row.row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .landing section.features .device-container {
        margin-bottom: 0;
    }

    .landing section.features .device-container,
    .landing section.features .feature-item {
        max-width: none;
    }
}

.language-options-box {
    padding-right: 5px;
}

.language-options-box img {
    margin: 2px
}
