body {
    color: #546673;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.no-padding {
    padding: 0px;
}

.timeline {
    padding: 2px;
}

.text-gray {
    color: #7f919e;
}

.bullet:before, .time:before {
    content: '\2022';
    color: #c2c9d4;
    margin-left: 4px;
    margin-right: 7px;
    font-size: 12px;
    position: relative;
    top: -1px
}

/****************MARGIN ET PADDING*********/
.margin-top-none {
    margin-top: 0px;
}

.margin-bottom-none {
    margin-bottom: 0px;
}

.padding-top-none {
    padding-top: 0px;
}

.padding-bottom-none {
    padding-bottom: 0px;
}

/* FEED COMMENTS*/
.comments .panel-body {
    padding-top: 6px;
    padding-bottom: 4px;
}

.file-preview {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px
}

.file-preview .close {

    padding: 2px 6px 2px 6px;
}