body {
    background: #eff3fa;
    color: #546673;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #c2c9d4;
}

.no-padding {
    padding: 0px;
}
.timeline{
    padding:2px;
}
.text-gray {
    color: #7f919e;
}

.bullet:before, .time:before {
    content: '\2022';
    color: #c2c9d4;
    margin-left: 4px;
    margin-right: 7px;
    font-size: 12px;
    position: relative;
    top: -1px
}

/*Recipe viewer*/
.recipe-info {
    margin: 2px;
    border-top: 1px solid #eff3fa;
}

.recipe-info h3 {
    margin-top: 7px;
    margin-bottom: 0px;
}

.recipe-ingredients {
    margin: 5px;
}

.recipe-instructions {
    margin: 5px;
}

.step_index {
    color: rgb(255, 255, 255);
    background-color: #546673;;
    text-align: center;
    padding: 10px;
}

.recipe-instructions p {
    padding: 10px;
}

.recipe-ingredients p {
    padding: 10px;
}

/****************MARGIN ET PADDING*********/
.margin-top-none{
    margin-top: 0px;
}
.margin-bottom-none{
    margin-bottom: 0px;
}

.padding-top-none {
    padding-top: 0px;
}

.padding-bottom-none {
    padding-bottom: 0px;
}

/* FEED COMMENTS*/
.comments .panel-body {
    padding-top: 6px;
    padding-bottom: 4px;
}

.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px
}