.nav-aside {
    list-style: none;
    border-top: 1px solid #e0e3e9;
    line-height: 1.4em;
    padding: 0px;
    margin: 0px;
}

.nav-aside .nav-item {
    border-top: none;
}

.nav-item {
    transition: all 250ms ease-in;
    cursor: pointer;
    border: 1px solid #e0e3e9;
    font-size: 15px;
    background-color: #fff;
}

.nav-aside .nav-item.active {
    background-color: #f8fafd;
}

.nav-lnk {
    padding: 7px 10px 8px;
    font-weight: 500;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}