.wizard-card{

     margin: auto;
    width: 50%;
}

.wizard-box{
    border: 1px solid #D7E3EF;
    padding:1%;
}

.wizard-nav{
    margin-top: 10px;
    border-top: 1px solid #c2c9d4;
    padding: 10px;
}