<div class="card container">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-gray">
                <i class="glyphicon glyphicon-share"></i> What do you want to share?
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="form-control input--textbox" ng-model="story.content"
                                          placeholder="what in your mind ?"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <images-upload-preview images="story.images" on-delete="deleteImage(image)"/>
                </div>
            </div>
            <div class="panel-footer">
                <a href="" ngf-select ng-model="story.images" ngf-multiple="true" ngf-keep="true"
                   ngf-pattern="'image/*'" ngf-accept="'image/*'">
                    <i class="glyphicon glyphicon-camera"></i>
                </a>
                <span> <a class="btn btn-follow pull-right" ng-click="shareStory()">Share</a> </span>
                <span class="clearfix"></span>
            </div>
        </div>
    </div>
</div>
