<div class="container no-padding">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12">
            <textarea class="form-control input--textbox" ng-model="$ctrl.story.content"
                      placeholder="what in your mind ?"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a ngf-select ng-model="$ctrl.story.images" ngf-multiple="true" ngf-keep="true"
               ngf-pattern="'image/*'" ngf-accept="'image/*'">
                <i class="glyphicon glyphicon-camera"
                   style="font-size: xx-large;">
                </i>
            </a>
            <span> <a class="btn btn-follow pull-right" ng-click="$ctrl.shareStory()">Share</a> </span>
            <span class="clearfix"></span>
        </div>
    </div>
    <div class="row">
        <images-upload-preview images="$ctrl.story.images" on-delete="$ctrl.deleteImage(image)"/>
    </div>
</div>