<div class="card timeline">
    <div class="alert alert-warning" ng-if="$ctrl.feeds.length==0">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span> <strong>Notice : </strong>
                         No feeds found . You must be new. Or quiet :(
        </span>
    </div>
    <div class="row">
        <div class="col-md-push-2 col-md-7 col-xs-12">
            <feed-viewer
                    ng-repeat="feed in $ctrl.feeds"
                    feed="feed"
                    on-remove="$ctrl.removeFeed(feed)"/>
        </div>
    </div>
</div>
