<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <label translate="publisher.recipe.title"/>
                        <input ng-model="$ctrl.recipe.title"
                               type="text"
                               class="form-control input--textbox"
                               id="title"
                               placeholder="{{'publisher.recipe.title-placeholder'|translate}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label translate="publisher.recipe.description"/>
                        <textarea ng-model="$ctrl.recipe.description"
                                  class="form-control"
                                  id="description"
                                  placeholder="{{'publisher.recipe.description-placeholder'|translate}}"
                                  style="height: 10em;"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                <label translate="publisher.recipe.cook-time"/>
                <div class="input-group">
                    <input ng-model="$ctrl.recipe.cookTime"
                           type="number"
                           class="form-control"
                           id="cookTime">
                    <span class="input-group-addon" translate="publisher.recipe.time-unit">min</span>
                </div>
            </div>
            <div class="col-md-6">
                <label translate="publisher.recipe.preparation-time"/>
                <div class="input-group">
                    <input ng-model="$ctrl.recipe.preparationTime"
                           type="number"
                           class="form-control"
                           id="preparationTime">
                    <span class="input-group-addon" translate="publisher.recipe.time-unit">min</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row wizard-nav">
        <div class="col-md-12">
            <button class="btn btn-primary btn-default pull-right"
                    type="button"
                    ng-click="$ctrl.nextStep()"
                    translate="publisher.recipe.add-ingredients-button"/>
        </div>
    </div>


</div>
