<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Recipe title</label>
                        <input ng-model="$ctrl.recipe.title"
                               type="text"
                               class="form-control input--textbox"
                               id="title"
                               placeholder="What is the name of your recipe ?"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Description</label>
                        <textarea ng-model="$ctrl.recipe.description"
                                  class="form-control"
                                  id="description"
                                  placeholder="Write a brief description about your recipe"
                                  style="height: 10em;"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                <label>Cook time</label>
                <div class="input-group">
                    <input ng-model="$ctrl.recipe.cookTime"
                           type="number"
                           class="form-control"
                           id="cookTime">
                    <span class="input-group-addon">min</span>
                </div>
            </div>
            <div class="col-md-6">
                <label>Preparation time</label>
                <div class="input-group">
                    <input ng-model="$ctrl.recipe.preparationTime"
                           type="number"
                           class="form-control"
                           id="preparationTime">
                    <span class="input-group-addon">min</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row wizard-nav">
        <div class="col-md-12">
            <button class="btn btn-primary btn-default pull-right"
                    type="button"
                    ng-click="$ctrl.nextStep()">
                Add ingredients
            </button>
        </div>
    </div>


</div>
