<div class="container" ng-form="form">
    <div class="row">
        <div class="col-md-8 col-lg-push-2">
            <form class="form-horizontal">
                <div class="form-group">
                    <label translate="publisher.recipe.title"/>
                    <input ng-model="$ctrl.recipe.title"
                           maxlength="255"
                           type="text"
                           class="form-control input--textbox"
                           id="title"
                           placeholder="{{'publisher.recipe.title-placeholder'|translate}}"
                          />

                </div>
                <div class="form-group">
                    <label translate="publisher.recipe.description"/>
                    <textarea ng-model="$ctrl.recipe.description"
                              maxlength="255"
                              class="form-control"
                              id="description"
                              placeholder="{{'publisher.recipe.description-placeholder'|translate}}"
                              style="height: 10em;"
                            />

                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-push-2 col-xs-12 no-padding">
            <div class="form-group col-md-6">
                <label translate="publisher.recipe.cook-time"/>
                <div class="input-group">
                    <input ng-model="$ctrl.recipe.cookTime"
                           type="number"
                           class="form-control"
                           min="1"
                           max="300"
                           id="cookTime">
                    <span class="input-group-addon" translate="publisher.recipe.time-unit">min</span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="publisher.recipe.preparation-time"/>
                <div class="input-group">
                    <input ng-model="$ctrl.recipe.preparationTime"
                           type="number"
                           class="form-control"
                           min="1"
                           max="300"
                           id="preparationTime">
                    <span class="input-group-addon" translate="publisher.recipe.time-unit">min</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="wizard-nav col-md-8 col-md-push-2 col-xs-12 no-padding">
            <button class="btn btn-primary btn-default pull-right"
                    type="button"
                    ng-click="$ctrl.nextStep()"
                    ng-disabled="form.$invalid"
                    translate="publisher.recipe.add-ingredients-button"
                    onclick="track('add-ingredients-button');"/>
        </div>
    </div>
</div>
